# dependencies
/node_modules

# next.js
/.next/
/out/

# generated static assets (copied from node_modules on install/build)
/public/tesseract/

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*
